/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 980px;
  max-width: 1400px;
}

/* Layout */

main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}

/* header and footer */

header {
  border-bottom: 5px solid #aa6666;
}

footer {
  border-top: 5px solid #aa6666;
}

footer p {
  text-align: center;
}

.h1 {
    font-size: 3em;
    text-align: center;
}
.h2 { 
    font-size: 2.2em;
}

main section p {
    font-size: 1.2em;
}

a:link {
    color: #aa6666;
}

a:visited {
    color:rgb(228, 105, 105)
}

a:hover {
    color:rgb(226, 127, 127)
}

a:focus { 
    color: #ac5b5b;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    list-style: none;
    margin: 1em 0;
    border: 1px solid #aa6666;
}

nav ul li a {
    display: block;              /* makes whole box clickable */
    padding: 20px;
    font-size: 1.5rem;           /* better to use rem */
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #aa6666;
}

img {
    width: 10px;
}
p { 
    text-indent: 0.3in;
}