/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 980px;
  max-width: 1400px;
}

/* Layout */

main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}

/* header and footer */

header {
  border-bottom: 5px solid #aa6666;
}

footer {
  border-top: 5px solid #aa6666;
}

footer p {
  text-align: center;
}

body {
    font-family: 'Merriweather', serif;
  font-size: 1.2em;
  line-height: 1.5;
  padding: 20px;
  width: 500px;
  background-color: #efefef;
  margin: 0 auto;
}

h1, h2 {
    font-family:' Roboto Slab', serif;
    font-weight: 700;
}

body {
  font-family: 'Merriweather', serif;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 0.02rem;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 0.05rem;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 0;
  letter-spacing: 0.04rem;
}

p {
  letter-spacing: 0.02rem;
}

section h2 + p {
  text-indent: 2rem;
}

a:link {
  color: purple;
  text-decoration: underline;
}

a:visited {
  color: rebeccapurple;
}

a:hover,
a:focus {
  color: darkviolet;
  text-decoration: none;   /* remove underline on hover/focus */
}
a {
  outline: none;
}