html {
  background-color: white;
}

body {
  font: 1.2em / 1.5 system-ui;
  padding: 10px;
  width: 500px;
  background-color: #efefef;
}

h1{
    color: darkslategray;
    border-bottom: 10px dotted purple;
    font-size: 2rem;
}

h2{
    font-size: italic;
    font-size: 1.5rem;
}