html {
  background-color: white;
}

body {
  font: 1.2em / 1.5 system-ui;
  padding: 20px;
  width: 500px;
  background-color: #efefef;
  margin: 0 auto;
}

h1{
    color: darkslategray;
    border-bottom: 10px dotted purple;
    font-size: 2rem;
}

h2{
    font-size: italic;
    font-size: 1.5rem;
}

div{
  color: darkslategray;

}

ul {
  background-color: white;
  border: 5px solid purple;
  padding: 30px;
  border-radius: 20px;
}

.box {
  color: darkslategray;
  font-weight: bold;
}

a {
  color: green;
}

